.appHeader {
    color: #ffffff;
    text-align: center;
    padding-top: 20px;
    height: 100px;
    background: #bdc3c7;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #2c3e50, #bdc3c7);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #2c3e50, #bdc3c7); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */


}
.addPortfolio{
    margin-top: 10px;
    margin-left: 45%;
    margin-bottom: 10px;
    font-weight: bold;
    height: 50px;
    background: #667db6;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #667db6, #0082c8, #0082c8, #667db6);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #667db6, #0082c8, #0082c8, #667db6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.portfolioName{
  font-weight: bold;
  font-size: 20px;
  color: #2F4F4F;
  text-align: center;
}
.portfolio{
  border: 1px solid black;
  padding: 2%;
  margin-bottom: 10px;
}
.portfolioHeader{
  display: flex;
  justify-content: space-around;
}

.portfolioBody{
  margin-top: 15px;
}

.portfolioFooter{
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
}

table
{
  border-collapse: collapse;
  border-spacing: 0px;
  margin: auto;
}
table, th, td
{
  padding: 5px;
  border: 1px solid black;
}
